<header class="bg-blue-600">
    <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
        <div class="w-full py-6 flex items-center justify-between border-b border-indigo-500 lg:border-none">
            <div class="flex items-center">
                    <span class="sr-only">Webfrontend</span>
                    <svg class="h-10 w-auto fill-current text-white" width="24" height="24" viewBox="0 0 24 24" 
                        xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0)">
                            <path
                                d="M0 11.4477V11.4142C0.301255 7.53139 1.70711 4.61925 4.15063 2.77825C6.56067 0.903768 9.17155 1.25155e-06 12.0167 1.25155e-06C14.9958 -0.0334716 17.7741 0.970714 20.251 2.97908C22.7615 4.95398 24 7.89959 24 11.7155V11.9498C24 15.7992 22.7615 18.6778 20.251 20.6527C17.7406 22.6611 14.9623 23.6653 11.9833 23.6653H11.8494C8.93724 23.6318 6.25941 22.6276 3.78243 20.6193C1.30544 18.6444 0.0334728 15.5983 0 11.4477ZM11.2803 6.19248V0.903768H10.477C10.3096 1.10461 10.1757 1.33891 10.0418 1.53975C9.90795 1.74059 9.77406 1.94143 9.64017 2.17574C9.50628 2.37657 9.33891 2.64436 9.23849 2.84519C9.1046 3.04603 9.00418 3.24687 8.90377 3.48118C8.70293 3.81591 8.53556 4.15063 8.40167 4.45189C8.23431 4.75315 8.10042 5.0544 8 5.32218C8.20084 5.45607 8.43515 5.62344 8.70293 5.72386C9.00418 5.82428 9.30544 5.92469 9.60669 5.99164C9.94142 6.05859 10.2427 6.09206 10.5105 6.12553C10.8117 6.159 11.0795 6.19248 11.2803 6.19248ZM12.6862 0.903768V6.159C12.8536 6.159 13.0544 6.19248 13.2552 6.159C13.4561 6.159 13.6904 6.12553 13.8912 6.09206C14.2594 6.02511 14.6946 5.92469 15.0293 5.82428C15.3975 5.69038 15.7322 5.52302 15.9665 5.32218C15.5649 4.35147 15.1297 3.5816 14.6946 2.84519C14.2594 2.10879 13.7573 1.47281 13.2218 0.937241V0.903768H12.6862ZM9.07113 1.20502V1.17155C8.83682 1.27197 8.60251 1.43933 8.33473 1.53975C8.10042 1.64017 7.79916 1.77406 7.56485 1.90795C7.09623 2.14226 6.62761 2.41005 6.159 2.7113C5.72385 3.01256 5.2887 3.34729 4.9205 3.68201C5.05439 3.81591 5.22176 3.9498 5.35565 4.05022C5.48954 4.15063 5.6569 4.28453 5.82427 4.41842C5.95816 4.48536 6.12552 4.58578 6.29289 4.71967C6.46025 4.82009 6.66109 4.95398 6.86192 5.08787C7.12971 4.48536 7.39749 3.84938 7.73222 3.28034C8.06695 2.67783 8.43515 2.10879 8.80335 1.6067C8.83682 1.53975 8.87029 1.47281 8.93724 1.40586C8.97071 1.37239 9.00418 1.27197 9.07113 1.20502ZM19.3138 3.68201V3.64854C18.477 3.01256 17.7406 2.47699 17.0042 2.14226C16.2678 1.80753 15.5314 1.47281 14.8619 1.20502C15.3975 1.74059 15.8661 2.41005 16.1674 3.04603C16.5021 3.71549 16.8368 4.41842 17.1046 5.08787C17.2385 5.02093 17.4059 4.95398 17.6067 4.82009C17.7741 4.71967 18.0084 4.61925 18.2092 4.51884C18.41 4.38494 18.5774 4.25105 18.7782 4.11716C18.9791 3.9498 19.1799 3.81591 19.3138 3.68201ZM18.7448 11.1465H22.5941C22.5941 9.90796 22.3264 8.73641 21.8243 7.53139C21.3556 6.35984 20.6862 5.38913 19.8494 4.55231V4.51884C19.682 4.78662 19.4477 5.02093 19.2134 5.18829C18.9456 5.35566 18.7113 5.48955 18.4435 5.62344C18.2762 5.72386 18.1088 5.85775 17.9414 5.92469C17.7741 6.02511 17.5397 6.09206 17.3724 6.19248C17.5063 6.46026 17.6402 6.76152 17.7741 7.0293C17.8745 7.33055 18.0418 7.66528 18.1088 7.96654C18.3096 8.5021 18.4435 9.07114 18.5774 9.64018C18.6778 10.1423 18.7448 10.6778 18.7448 11.1465ZM6.62761 6.19248V6.159C6.35983 6.02511 6.05858 5.92469 5.82427 5.7908C5.58996 5.62344 5.35565 5.45607 5.15481 5.32218C4.95397 5.22176 4.75314 5.08787 4.58577 4.95398C4.41841 4.82009 4.28452 4.6862 4.15063 4.55231C3.28033 5.38913 2.64435 6.32637 2.24268 7.43097C1.80753 8.53558 1.50628 9.77407 1.37238 11.113H5.48954C5.48954 10.1757 5.62343 9.27198 5.85774 8.36821C6.05858 7.43097 6.35983 6.72804 6.62761 6.19248ZM11.2803 11.113V7.26361C11.0126 7.29708 10.6778 7.29708 10.3766 7.26361C10.0418 7.23014 9.70711 7.12972 9.40586 7.0293C9.13808 6.96235 8.80335 6.89541 8.53556 6.79499C8.23431 6.72804 7.93305 6.59415 7.69874 6.46026C7.49791 6.79499 7.33054 7.19666 7.19665 7.63181C7.02929 8.03348 6.92887 8.46863 6.82845 8.8703C6.76151 9.27198 6.72803 9.70713 6.69456 10.0753C6.66109 10.4435 6.62761 10.8117 6.62761 11.113H11.2803ZM12.6862 7.33055V11.113H17.6402C17.6402 10.9121 17.6402 10.6778 17.6067 10.4101C17.5397 10.1757 17.5063 9.87449 17.4728 9.60671C17.3724 9.20503 17.272 8.76989 17.1381 8.36821C17.0042 8.00001 16.8703 7.63181 16.7029 7.33055C16.636 7.16319 16.569 6.96235 16.5021 6.82846C16.4017 6.6611 16.3013 6.56068 16.2343 6.46026C15.8661 6.72804 15.364 6.89541 14.7615 7.0293C14.1925 7.16319 13.523 7.29708 12.9205 7.33055H12.6862ZM5.48954 12.2176H1.37238C1.37238 12.7866 1.4728 13.4226 1.64017 14.1925C1.80753 14.9958 2.14226 15.7322 2.51046 16.5356C2.67782 16.9373 2.87866 17.3389 3.0795 17.7406C3.31381 18.1088 3.58159 18.5105 3.84937 18.8787C4.05021 18.7448 4.25105 18.6444 4.41841 18.544C4.61925 18.4435 4.85356 18.3096 5.05439 18.2092C5.2887 18.1088 5.52301 18.0084 5.79079 17.8745C6.0251 17.7741 6.32636 17.6402 6.62761 17.5063C6.35983 16.6695 6.05858 15.8661 5.85774 14.9624C5.62343 14.0921 5.48954 13.2218 5.48954 12.2511V12.2176ZM11.2803 16.1339V12.2176H6.62761C6.62761 12.4854 6.66109 12.887 6.72803 13.2887C6.76151 13.6904 6.86192 14.1255 6.92887 14.5607C7.06276 15.0293 7.16318 15.4979 7.29707 15.8996C7.43096 16.3013 7.56485 16.636 7.69874 16.9373C8.30126 16.703 8.90377 16.5356 9.30544 16.4352C9.74059 16.3013 10.1423 16.2009 10.5439 16.1674H10.9121C11.046 16.1339 11.1799 16.1339 11.2803 16.1339ZM12.6862 12.2176V16.1004C12.9205 16.1339 13.1883 16.1674 13.4561 16.2009C13.7573 16.2343 14.1255 16.3013 14.4268 16.3682L14.9289 16.4686C15.0962 16.5356 15.2971 16.5691 15.4644 16.6025C15.6653 16.6695 15.8661 16.703 16.0669 16.7699C16.2343 16.8368 16.4017 16.8703 16.5356 16.9373C16.9707 15.8327 17.2385 14.9289 17.4059 14.159C17.5732 13.4226 17.6402 12.7866 17.6402 12.2511V12.2176H12.6862ZM22.5941 12.2511V12.2176H18.7448V12.4184C18.7113 13.0544 18.6109 13.7908 18.477 14.5607C18.3431 15.2971 18.0418 16.1674 17.6402 17.2385C18.1757 17.5063 18.6778 17.7741 19.0795 18.0419C19.4812 18.3096 19.8494 18.6109 20.1172 18.8787C20.6862 18.3096 21.1883 17.5398 21.6234 16.5356C22.0586 15.5649 22.3598 14.5607 22.5272 13.4896C22.5607 13.2887 22.5607 13.0879 22.5941 12.887V12.2511ZM11.2803 22.4268V17.205C10.4435 17.3389 9.74059 17.5063 9.20502 17.6402C8.66946 17.7741 8.26778 17.908 8 18.0419C8.20084 18.544 8.40167 18.9791 8.60251 19.3808C8.80335 19.749 9.03766 20.1507 9.23849 20.4854C9.30544 20.6193 9.43933 20.7532 9.53975 20.9205C9.64017 21.0544 9.70711 21.2218 9.80753 21.3557C9.90795 21.523 10.0084 21.7239 10.1088 21.9247C10.2427 22.0921 10.3431 22.2929 10.477 22.4268H11.2803ZM12.6862 22.4268H13.4561C13.7573 22.1925 14.0586 21.8578 14.2929 21.4896C14.5607 21.1214 14.8619 20.6862 15.0628 20.318C15.2971 19.8829 15.5314 19.4812 15.7322 19.0795C15.9331 18.6778 16.1004 18.3096 16.2343 18.0419C15.8661 17.908 15.364 17.7741 14.8619 17.6402C14.3598 17.5063 13.6569 17.3724 12.6862 17.2385V22.4268ZM19.3138 19.682V19.6486C19.2469 19.5481 19.113 19.4142 19.0126 19.3138C18.9121 19.2134 18.7448 19.0795 18.5774 18.9791C18.4435 18.8787 18.2762 18.7783 18.0753 18.6778C17.8745 18.5774 17.6067 18.4435 17.3724 18.3096C17.2385 18.5774 17.0042 19.046 16.6695 19.682C16.3682 20.318 15.8326 21.0879 15.1632 21.9247C16 21.7908 16.7364 21.4896 17.4059 21.0879C18.1423 20.7197 18.7782 20.2176 19.3138 19.682ZM6.86192 18.6109V18.5774C6.62761 18.7113 6.25941 18.8787 5.89121 19.046C5.48954 19.2134 5.05439 19.4142 4.65272 19.682C4.88703 19.8829 5.12134 20.0837 5.32218 20.2176C5.52301 20.385 5.75732 20.5189 5.95816 20.6527C6.32636 20.8871 6.76151 21.1214 7.19665 21.3222C7.6318 21.523 8.16736 21.7239 8.83682 21.9247C8.60251 21.6569 8.43515 21.3222 8.26778 21.0544C8.10042 20.7866 7.89958 20.5189 7.73222 20.2511C7.56485 19.9833 7.43096 19.682 7.29707 19.4142C7.12971 19.1465 6.99582 18.8787 6.86192 18.6109Z"
                                 />
                        </g>
                        <defs>
                            <clipPath id="clip0">
                                <rect width="24" height="23.6653" />
                            </clipPath>
                        </defs>
                    </svg>

                <div class="hidden ml-10 space-x-8 lg:block">
                    <a href="/" class="text-base font-medium text-white hover:text-indigo-50" key="Solutions">
                        Home
                    </a>

                    <% if (locals.user) { %>
                    <a href="/profile" class="text-base font-medium text-white hover:text-indigo-50" key="Pricing">
                        Profile
                    </a>

                    <a href="/logout" class="text-base font-medium text-white hover:text-indigo-50" key="Docs">
                        Logout
                    </a>
                    <% } else { %>

                    <a href="/login" class="text-base font-medium text-white hover:text-indigo-50" key="Company">
                        Login
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
        <div class="py-4 flex flex-wrap justify-center space-x-6 lg:hidden">
            <a href="/" class="text-base font-medium text-white hover:text-indigo-50" key="Solutions">
                Home
            </a>

            <% if (locals.user) { %>
            <a href="/profile" class="text-base font-medium text-white hover:text-indigo-50" key="Pricing">
                Profile
            </a>

            <a href="/logout" class="text-base font-medium text-white hover:text-indigo-50" key="Docs">
                Logout
            </a>
            <% } else { %>
            <a href="/login" class="text-base font-medium text-white hover:text-indigo-50" key="Company">
                Login
            </a>
            <% } %>
        </div>
    </nav>
</header>
